
<div class="modal-body row">

    <div class="col-sm-2">
        <input
                type="text"
                placeholder="Search..."
                ng-model="searchBar">
        <div class="filter-college" ng-click="clearAll()">Clear All</div>

        <div class="dropdown">
            <button ng-click="collegeFunction(); openColleges = !openColleges " class="dropbtn">College<i class="text-right fa" ng-class="{'fa-angle-down':openColleges == false, 'fa-angle-up':openColleges == true}"></i></button>
            <div id="collegeDropdown" class="dropdown-content">
                <div class="filter-college">
                    <input type="checkbox" ng-model="types.UCD">
                    University College Dublin
                </div>
                <div class="filter-college">
                    <input type="checkbox" ng-model="types.DIT" >
                    Dublin Institute of Technology
                </div>
                <div class="filter-college">
                    <input type="checkbox" ng-model="types.TCD" >
                    Trinity College
                </div>
            </div>
            <div class="dropdown">
                <button ng-click="mySectorFunction(); openSectors = !openSectors" class="dropbtn">Area of expertise<i class="text-right fa" ng-class="{'fa-angle-down':openSectors == false, 'fa-angle-up':openSectors == true}"></i></button>
                <div id="sectorDropdown" class="dropdown-content">
                    <div class="filter-college" ng-click="search='Computer Science'">
                        <input type="checkbox" ng-model="searches.cs">
                        Computer Science
                    </div>
                    <div class="filter-college" ng-click="search='Engineering and Construction'">
                        <input type="checkbox" ng-model="searches.ec">
                        Engineering and Construction
                    </div>
                    <div class="filter-college" ng-click="search='Medicine and Science'">
                        <input type="checkbox" ng-model="searches.ms">
                        Medicine and Science
                    </div>
                    <div class="filter-college" ng-click="search='Business and Management'">
                        <input type="checkbox" ng-model="searches.bm">
                        Business and Management
                    </div>
                    <div class="filter-college" ng-click="search='Education and Arts'">
                        <input type="checkbox" ng-model="searches.ea">
                        Education and Arts
                    </div>
                </div>
                <div class="dropdown">
                    <button ng-click="myPointsFunction(); openPoints = !openPoints" class="dropbtn">Points<i class="text-right fa" ng-class="{'fa-angle-down':openPoints == false, 'fa-angle-up':openPoints == true}"></i></button>
                    <div id="pointsDropdown" class="dropdown-content">
                        <div class="filter-college">
                            Min points:<input type="text" min="0" max ng-model="min_points" />
                        </div>
                        <div class="filter-college">
                            Max points:<input type="text" max="775" ng-model="max_points" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
                        <button ng-click="createCourses(courses)">button</button>
        -->

    </div>
<!--
    <button ng-click="courses.forEach(myFunction)">here</button>
-->
    <div class="col-sm-10">
        <div dir-paginate="course in courses | filter:searchBar | sectorFilter:searches | filter:ageFilter | customFilter:types | itemsPerPage: 12 "><!--rangeFilter:'course.points'--><!--byCourse:courseFilter -->
            <div class="col-sm-3 text-center">
                <div ng-click="displayCourse(course)" class="courses-box-first">
                    <div class="courses-box"
                         ng-class="{'csColour':course.sector =='Computer Science',
                         'ecColour':course.sector =='Engineering and Construction',
                         'msColour':course.sector =='Medicine and Science',
                         'bmColour':course.sector =='Business and Management',
                         'eaColour':course.sector =='Education and Arts'}">
                        <div class="courses-top">
                            <div class="courses-top-left">
                                {{course.course_id}}

                            </div>
                            <div class="courses-top-right">
                                {{course.points}}
                            </div>
                        </div>
                        <div class="courses-middle bgIcon"
                        ng-class="{'ditIcon': course.college == 'Dublin Institute of Technology',
                        'ucdIcon': course.college == 'University College Dublin',
                        'tcdIcon': course.college == 'Trinity College'}">
                            <div class="middle-left">{{course.college}}</div>
                            <div class="middle-right">
                                <img src="../.././assets/img/dit-logo.png">
                            </div>
                        </div>
                        <div class="courses-middle-bottom">
                            {{course.title}}
                        </div>
                        <div class="courses-bottom text-center">
                            <div>
                                {{course.sector}}
                            </div><!--
                            <div ng-show="collegeCourse($index)">
                                course is tcd
                            </div>
                            <div ng-show="collegeCourse($index)">
                                course is dit
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>
