<!--
<button ng-click="createCourses(courses)">button</button>
-->
<input
        type="text"
        placeholder="Search..."
        ng-model="search">
<div class="col-sm-3 filters-area"></div>
<div ng-repeat="course in courses | filter:search">
    <div class="col-sm-3 text-center">
        <div class="course-box-first">
            <div class="course-box">
                <div class="course-title">
                    {{course.title}}
                </div>
                <div class="course-college">
                    {{course.college}}
                </div>
            </div>
        </div>
    </div>
</div>