<div class="modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
    <div class="col-sm-6">
        <button class="btn btn-danger btn-mdb" ng-click="changeProfile()">Change Profile</button>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-danger btn-mdb" ng-click="changeBackground()">Change Background</button>
    </div>
    <input class="btn btn-default" type="file" id="inputfile"
           onchange="angular.element(this).scope().fileSelected(this)" ng-disabled="url == null"/>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-md"
            data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>
