
<div class="modal-content">
    <div class="modal-header" ng-class="{'csColour':modalOptions.sector =='Computer Science',
                         'ecColour':modalOptions.sector =='Engineering and Construction',
                         'msColour':modalOptions.sector =='Medicine and Science',
                         'bmColour':modalOptions.sector =='Business and Management',
                         'eaColour':modalOptions.sector =='Education and Arts'}">
        <div class="courses-top">
            <div class="courses-top-left">
                {{modalOptions.code}}

            </div>
            <div class="courses-top-right">
                {{modalOptions.points[0]}}
            </div>
        </div>
        <!-- more usage of angular data binding -->
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="courses-middle bgIcon"
                     ng-class="{'ditIcon': modalOptions.college == 'Dublin Institute of Technology',
                        'ucdIcon': modalOptions.college == 'University College Dublin',
                        'tcdIcon': modalOptions.college == 'Trinity College'}">
                    <div class="middle-left">{{modalOptions.college}}</div>
                <!-- ng-src used again instead of src -->
                <!--
                                        <img ng-src="{{modalOptions.image}}" class="img-rounded img-responsive">
                -->
            </div>
                <div class="courses-middle-bottom">
                    {{modalOptions.title}}
                </div>
                <div class="courses-bottom text-center">
                    <div>
                        {{modalOptions.sector}}
                    </div>
                </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-6">
                <!-- angular data binding -->
                <strong>Course Details:</strong>
                <p><strong>Course Code: </strong>{{modalOptions.code}}</p>
                <p><strong>College: </strong>{{modalOptions.college}}</p>
                <p><strong>Points: </strong>{{modalOptions.points[0]}}</p>
                <p><strong>Sector: </strong>{{modalOptions.sector}}</p>
                <br />
                <strong>Course Option Has: </strong>
                <p><strong>Erasmus: </strong>{{modalOptions.erasmus}}</p>
                <p><strong>Thesis: </strong>{{modalOptions.thesis}}</p>
                <p><strong>Portfolio: </strong>{{modalOptions.portfolio}}</p>
                <p><strong>Placement: </strong>{{modalOptions.placement}}</p>
                <div>View more details <a href="'{{modalOptions.externalLink}'">here</a></div>
            </div>

            <div class="col-xs-12 top-buffer">

                <button class="btn btn-default"
                        data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
            </div>
        </div>
    </div>
</div>