<div class="container" style="padding-top:20px;">
    <div class="col-sm-4">
        <div class="courses-box-first">
            <div class="courses-box" ng-class="{'csColour':course.sector =='Computer Science',
                         'ecColour':course.sector =='Engineering and Construction',
                         'msColour':course.sector =='Medicine and Science',
                         'bmColour':course.sector =='Business and Management',
                         'eaColour':course.sector =='Education and Arts'}">
                <div class="courses-middle bgIcon" style="height:150px;"
                     ng-class="{'ditIcon': course.college == 'Dublin Institute of Technology',
                        'ucdIcon': course.college == 'University College Dublin',
                        'tcdIcon': course.college == 'Trinity College'}">
                    <div class="single-middle-left">{{course.college}}</div>
                    <div class="single-middle-right">
                        <img src="../.././assets/img/dit-logo.png">
                    </div>
                </div>
                <div class="course-sector">
                    {{course.sector}}
                </div>
            </div>
        </div>
        <div class="second-courses-box-first">
            <div class="second-courses-box" ng-class="{'csColour':course.sector =='Computer Science',
                         'mecColour':course.sector =='Engineering and Construction',
                         'msColour':course.sector =='Medicine and Science',
                         'bmColour':course.sector =='Business and Management',
                         'eaColour':course.sector =='Education and Arts'}">
                <div class="viewed">
                    <span class="eye-icon">
                        <i class="material-icons">remove_red_eye</i>
                        </span>Viewed {{course.counter}} times
                </div>
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-block">
                <div class="card-header">
                    <h3 class=course-details-header> College Details </h3>
                    <span class="col-sm-6">
                        <i class="material-icons">timer</i> Duration: {{course.duration}}
                    </span>
                    <span class="col-sm-6">
                        <i class="material-icons">laptop_chromebook</i> Has Thesis:
                        <span ng-if="course.thesis == true"> Yes</span>
                        <span ng-if="course.thesis == false"> No</span>
                    </span>
                    <span class="col-sm-6">
                        <i class="material-icons">archive</i> Has Portfolio:
                        <span ng-if="course.portfolio == true"> Yes</span>
                        <span ng-if="course.portfolio == false"> No</span>
                    </span>
                    <span class="col-sm-6">
                        <i class="material-icons">card_travel</i> Has Erasmus:
                        <span ng-if="course.erasmus == true"> Yes</span>
                        <span ng-if="course.erasmus == false"> No</span>
                    </span>
                    <span class="col-sm-12">
                        <i class="material-icons">work</i> Has Placement:
                            <span ng-if="course.placement == true"> Yes</span>
                        <span ng-if="course.placement == false"> No</span>
                    </span>
                    <span class="col-sm-6">
                        <span ng-if="course.points.length > 1">
                            <i style="font-size: 18px;">Points:</i>
                            <div>Year  Points</div>
                            <span class="col-sm-12" ng-repeat="points in course.points">
                                {{year - $index}}: {{points}}
                            </span>
                        </span>
                        <span ng-if="course.points <= 1">
                            {{course.points}}
                     </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card card-primary">
            <div class="card-block">
                <div class="card-title">
                    {{course.title}}
                </div>
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-block">
                <div class="single-course-title">
                    Comments
                </div>
                <div ng-repeat="c in course.comments">
                    <div class="single-line">
                        <div class="top-left">
                            <img style="height:50px;width:auto;float:left;border-radius:50%;" ng-src="{{c.user.profiler}}">
                            <span style="margin-top:20px;">{{c.user.firstName}} {{c.user.lastName}}</span>
                            <div class="comment-date">
                                {{c.timeStamp | date : "d MMM yy, hh:mm " }}
                            </div>

                        </div>

                        <div class="top-right" ng-hide="currentUser == null">
                            <span ng-hide="c.user._id == currentUser._id">
                            Start a chat<i ng-click="sendInvitation(c.user)" class="material-icons">chat_bubble</i>
                                </span>
                        </div>
                    </div>

                    <div class="commentBody">
                        {{c.text}}
                    </div>
                </div>
                <div ng-hide="currentUser == null" class="comment-area" style="width:80%; padding-left: 10px;">
                    <input type="text" ng-model="textBody" placeholder="Leave a comment..." >
                    <button class="btn comment-button"ng-click="addComment(textBody)"
                            ng-class="{'cs-comment-button':course.sector =='Computer Science',
                         'ec-comment-button':course.sector =='Engineering and Construction',
                         'ms-comment-button':course.sector =='Medicine and Science',
                         'bm-comment-button':course.sector =='Business and Management',
                         'ea-comment-button':course.sector =='Education and Arts'}" ng-disabled="textBody == ''">
                        Add a Comment <b class="fa fa fa-comment"></b>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <button ng-hide="currentUser == null" class="btn comment-button"
                ng-click="saveCourseToUser()" ng-class="{'cs-comment-button':course.sector =='Computer Science',
                         'ec-comment-button':course.sector =='Engineering and Construction',
                         'ms-comment-button':course.sector =='Medicine and Science',
                         'bm-comment-button':course.sector =='Business and Management',
                         'ea-comment-button':course.sector =='Education and Arts'}">
            Save Course
        </button>
        <button class="btn comment-button"
                ng-class="{'cs-comment-button':course.sector =='Computer Science',
                         'ec-comment-button':course.sector =='Engineering and Construction',
                         'ms-comment-button':course.sector =='Medicine and Science',
                         'bm-comment-button':course.sector =='Business and Management',
                         'ea-comment-button':course.sector =='Education and Arts'}">
            <a href="{{course.externalLink}}">
                Go To College Website
            </a>
        </button>
    </div>
</div>