<nav id="topnavbar" class="navbar navbar-inverse navbar-custom" ng-controller="TopNavbarController">
    <div class="content-wrapper">
        <div class="navbar-header">
            <a class="navbar-brand" title="home"  href="#">
                <span class="fa fa-graduation-cap"></span>Unis<i class="blue">Ex</i>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="currentUser.firstName!=null" class="nav-btn-custom">
                <div class="dropdown1">
                    <a class="dropbtn1">
                        <span class="fa fa-comments fa-2x"></span>
                    </a>
                    <div class="dropdown-content1">
                        <div ng-repeat="n in relevantNotifications">
                        <a>{{n.message}}</a>
                        </div>
                    </div>
                </div>
            </li>
                <!--<a title="chat" ng-click="chatModal()">
                    <span class="fa fa-comments fa-1x"></span>
                </a>-->
            <li ng-show="currentUser.firstName!=null" class="nav-btn-custom">
                <a title="profile" href="/#/app/profile">
                    <img ng-src="{{currentUser.profiler}}">
                </a>
            </li>
            <li class="nav-btn-custom">
                <a title="View Tests" href="/#/app/testMenu" id="fa-icon-customB">
                    <span class="fa fa-pencil fa-1x" aria-hidden="true"></span>

                </a>
            </li>
            <li class="nav-btn-custom">
                <a title="Search Courses" href="/#/app/courses" id="fa-icon-customC">
                    <span class="fa fa-search fa-1x" aria-hidden="true"></span>
                </a>
            </li>
            <li ng-show="currentUser.firstName!=null" class="nav-btn-custom" >
                <a title="Logout" ng-click="logout()" id="fa-icon-custom">
                    <span class="fa fa-sign-out fa-1x"  aria-hidden="true"></span>
                </a>
            </li>
            <li ng-show="currentUser.firstName==null" class="nav-btn-custom">
                <a title="Login" href="/#/login" id="fa-icon-customA">
                    <span class="fa fa-sign-in fa-1x" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="loading-bar-container"></div>
