<nav id="topnavbar" class="navbar navbar-inverse navbar-custom" ng-controller="TopNavbarController">
    <div class="content-wrapper">
        <div class="navbar-header">
            <a class="navbar-brand"  href="#">
                <span class="fa fa-graduation-cap"></span>Unis<span class="blue">Ex</span>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="user.firstName!=null" class="nav-btn-custom" ng-click="userProfile()">
                <a title="profile">
                    <span class="fa fa-user fa-1x"></span>
                    {{user.firstName}}
                </a>
            </li>
            <li ng-show="user.firstName!=null" class="nav-btn-custom">
                <a title="Logout" href="api/users/logout">
                    <span class="fa fa-sign-out fa-1x" aria-hidden="true"></span>
                    Logout
                </a>
            </li>
            <li ng-show="user.firstName==null" class="nav-btn-custom">
                <a title="Login" href="/#/login">
                    <span class="fa fa-sign-in fa-1x" aria-hidden="true"></span>
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>
</div><div id="loading-bar-container"></div>
