<div id="bg">
    <img src="../.././assets/img/laptop.in.use.png" ng-click="testMenu()">
</div>
<div class="main-menu-title">Still unsure of what course to do,
    Well Look No Further
</div>
<div class=" col-sm-4 col-sm-offset-4 infront ">
    <a id="bannerSignup" class="signupPopup blue" title="Signup">
        Get Started
    </a>
</div>
<div class="middle-about">
    <div class="top-content"></div>
    <div class="content-wrapper">
        <div class="col-sm-4">
            <div class="fa fa-search fa-4x course-icon"></div>
        </div><div class="col-sm-4">
        <div class="fa fa-search fa-4x course-icon"></div>
    </div><div class="col-sm-4">
        <div class="fa fa-search fa-4x course-icon"></div>
    </div>
    </div>
</div>
<div class="title">
    Search for your course
    <div class="search-icon fa fa-search"></div>
</div>
<div class="content-wrapper text-center">
    <div class="col-sm-4">
        <div class="course-box-first">
            <div class="course-box">
                <div class="fa fa-book fa-4x course-icon"></div>
                <div class="course-title">1. View Available Colleges & Courses</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="course-box-first">
            <div class="course-box">
                <div class="fa fa-search fa-4x course-icon"></div>
                <div class="course-title">2. Filter and Pick a Course</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="course-box-first">
            <div class="course-box">
                <div class="fa fa-check fa-4x course-icon"></div>
                <div class="course-title">3. Save it for Later</div>
            </div>
        </div>
    </div>
</div>
<!--<div style="padding-top: 50px"></div>
<div class="another-area" ng-click="coursesLink()">&lt;!&ndash;col-sm-4 col-sm-offset-2 &ndash;&gt;
</div>-->


<!--<div class="courses-section">

</div>-->


