<div><h1>{{welcome}}</h1></div>

<div class="btn btn-info" ng-click="testMenu()">
    View Tests
</div>


<!--<div ng-repeat="test in tests">
    test name + duration
    {{test.name}} + {{test.duration}} + {{test.questions}}
</div>-->
<!--<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Questions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="test in tests">
        <td>{{test.name}}</td>
        <td>{{test.duration}}</td>
        <td>{{test.questions}}</td>
    </tr>
    </tbody>
</table>-->
<!--<ul ng-repeat="test in tests">-->
<!--<li>start here</li>-->
<!--<li>{{test.questions}}</li>-->
<!--</ul>-->


