<div id="bg">
    <img src="../.././assets/img/laptop.in.use.png" ng-click="testMenu()">
</div>
<div class="main-menu-title">Chill out about college and take your time
</div>
<div class=" col-sm-4 col-sm-offset-4 infront ">
    <a id="bannerSignup" class="blue" title="Signup" ng-click="register()">
        Get Started
    </a>
</div>
<div class="middle-about">
    <div class="title">
        Search for your course
        <div class="search-icon fa fa-search"></div>
    </div>
    <div class="top-content"></div>
    <div class="content-wrapper">
        <div class="col-sm-4 border-left">
            <i class="course-blue-icon material-icons">assignment</i>
            <p><b>Define Search Through the Filters</b></p>
            <p>
                <span class="body-text">
                    Select a filter to view courses
            </span></p>
        </div><div class="col-sm-4 border-middle-left">
        <i class="course-orange-icon material-icons">gps_fixed</i>
        <p><b>Click on a Course for More Detail</b></p>
        <p>
            <span class="body-text">
                Select a course to get more detail
            </span></p>
    </div>
        <div class="col-sm-4 border-left">
            <i class="course-blue-icon material-icons">save</i>
            <p><b>Add Review or Save</b></p>
            <p>
            <span class="body-text">
                Comment on the course or save it for later
            </span></p>
        </div>
    </div>
</div>
<div class="title">
    Search for your course
    <div class="search-icon fa fa-search"></div>
</div>
<div class="content-wrapper text-center">
    <div class="col-sm-4">
        <div class="course-box-first">
            <div class="course-box">
                <div class="fa fa-book fa-4x course-orange-icon"></div>
                <div class="course-title">1. View Available Colleges & Courses</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="course-box-first">
            <div class="course-box">
                <div class="fa fa-search fa-4x course-blue-icon"></div>
                <div class="course-title">2. Filter and Pick a Course</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="course-box-first">
            <div class="course-box">
                <div class="fa fa-check fa-4x course-orange-icon"></div>
                <div class="course-title">3. Save it for Later</div>
            </div>
        </div>
    </div>
</div>
<h1>Chats</h1>
<div class="card card-primary">
    <div class="card-block">
        <div class="container">
            <button class="btn btn-outline-danger" ng-click="joinChat()">Join chat</button>
        </div>
    </div>
</div>
<!--<div class="middle-about">
    <div class="content-wrapper">

    </div>
</div>-->
<!--<div style="padding-top: 50px"></div>
<div class="another-area" ng-click="coursesLink()">&lt;!&ndash;col-sm-4 col-sm-offset-2 &ndash;&gt;
</div>-->


<!--<div class="courses-section">

</div>-->


