<div class="container">
    <div class="col-sm-3 contact-list">
        <br />
        <br />
        <ul ng-repeat="c in relevantConversations">
            <li>
                <div ng-if="currentUser._id == c.user1._id">

                    <div class="contact-profiler" ng-click="joinConversation(c._id)">
                        <div class="alignment">
                            <img ng-src="{{c.user2.profiler}}">
                        </div>
                        <div class="user-info">
                            <div class="contact-name">
                                {{c.user2.firstName}} {{c.user2.lastName}}
                            </div>
                            <div class="online-icon"
                                 ng-class="{'not-online': c.user2.status  == false ,
                            'is-online': c.user2.status == true}"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div ng-if="currentUser._id == c.user2._id">
                    <div class="contact-profiler" ng-click="joinConversation(c._id)">
                        <div class="alignment">
                            <img ng-src="{{c.user1.profiler}}">
                        </div>
                        <div class="user-info">
                            <div class="contact-name">
                                {{c.user1.firstName}} {{c.user1.lastName}}
                            </div>
                            <div class="online-icon"
                                 ng-class="{'not-online': c.user1.status  == false ,
                            'is-online': c.user1.status == true}"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div ng-repeat="u in users">
            <button class="btn btn-default" ng-click="sendInvitation(u)">Chat to {{u.lastName}}</button>
        </div>
    </div>
    <div class="col-sm-8 chat-background">
        <div class="modal-header">
            <div class="chat-profiler">
                <img ng-src="{{friend.profiler}}">{{friend.firstName}} {{friend.lastName}}
            </div>
        </div>
        <div class="repeat-scroll">
            <ul scroll-glue ng-repeat="message in conversation.messages | orderBy:'timestamp'" class="chat-line">
                <li>
                    <div ng-if="message.senderId==currentUser._id">
                        <div class="your-message">
                            <!--{{message.timeStamp | date:'hh:mm'}}.-->
                            {{message.body}}
                            <div class="chat-image">
                                <img ng-src="{{currentUser.profiler}}">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div ng-if="message.receiverId==currentUser._id">
                        <div class="friend-message">
                            <!--{{message.timeStamp | date:'hh:mm'}}.-->
                            <div class="chat-image">
                                <img ng-src="{{friend.profiler}}">
                            </div>
                            {{message.body}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <footer class="card-footer">
            <textarea ng-model="body" class="form-control" rows="2" ></textarea>
            <button class="btn btn-amber" ng-click="sendMessage()">Send</button>
        </footer>
        <!--{{conversation}}-->
    </div>
</div>