<div class="content-wrapper">
    <h1>Test Menu</h1>
    <div class="row space">
        <div class="col-md-4">
            <div class="main-menu-button" ng-init="show=true" ng-mouseover="show = false" ng-mouseleave="show = true" ng-click="spatialLink()">
                <h1 ng-show="show">Spatial Test</h1>
                <h4 ng-hide="show">Spatial reasoning tests are a common part of psychometric aptitude tests, pre-employment tests and admission tests. It determines your ability to mentally re-arrange objects without physically touching them</h4>
            </div>
        </div><!--<div class="col-md-4">
            <div class="main-menu-button" ng-init="show=true" ng-mouseover="show = false" ng-mouseleave="show = true" ng-click="spatialLink()">
                <h1 ng-show="show">Careers Test</h1>
                <h4 ng-hide="show">This test will determine what area of work you should enter based on your preferences and personality</h4>
            </div>
        </div>-->
        <div class="col-md-4">
            <div class="main-menu-button" ng-init="log=true" ng-mouseover="log = false" ng-mouseleave="log = true" ng-click="logicalLink()">
                <h1 ng-show="log">Careers Test</h1>
                <h4 ng-hide="log">This test will determine what area of work you should enter based on your preferences and personality</h4>
            </div>
        </div>
        <!--<div class="col-md-4">
            <div class="main-menu-button" ng-init="log=true" ng-mouseover="log = false" ng-mouseleave="log = true" ng-click="otherLink()">
                <h1 ng-show="log">MS Test</h1>
                <h4 ng-hide="log">This test will determine what area of work you should enter based on your preferences and personality</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-menu-button" ng-init="log=true" ng-mouseover="log = false" ng-mouseleave="log = true" ng-click="ecLink()">
                <h1 ng-show="log">EC Test</h1>
                <h4 ng-hide="log">This test will determine what area of work you should enter based on your preferences and personality</h4>
            </div>
        </div>-->
        <div class="col-md-4" >
            <div class="main-menu-button" ng-init="num=true" ng-mouseover="num = false" ng-mouseleave="num = true" ng-click="numericalLink()">
                <h1 ng-show="num
            ">Logical Reasoning Test</h1>

                <h4 ng-hide="num">Logical reasoning aptitude tests are designed to measure your ability to draw logical conclusions based on statements or arguments, and to identify the strengths and weaknesses of those arguments.</h4>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>