<div class="content-wrapper">
    <div ng-repeat="t in tests">
        <div ng-show="t.name == testName">

            <div class="test-title">
                <h2>{{ t.name }}</h2>

            </div>

            <div class="row" ng-hide="resultsView">
                <div class="row">
                    <div class="col-xs-8">
                        <h4>Progress:</h4>
                        <div ng-repeat="q in t.questions">
                            <div ng-show="t.name == 'Careers Test'">
                                <h3>{{question_index+1}} of {{q.question.length}}</h3>
                            </div>
                            <div ng-hide="t.name == 'Careers Test'">
                                <div class="btn-toolbar">
                                    <button class="btn " id="btn-custom"
                                            ng-repeat="qs in q.question"
                                            ng-class="{'btn-info': qs.selected !== null, 'btn-danger': qs.selected === null}"
                                            ng-click="setActiveQuestion($index)">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="t.name == 'Careers Test'">
                        <div class="col-xs-4">
                            <div class="row">
                                <h4>Legend:</h4>
                                <div class="col-sm-4">
                                    <button class="btn btn-info">
                                    </button>
                                    <p>Answered</p>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-danger">
                                    </button>
                                    <p>Unanswered</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="alert alert-danger" ng-show="error">
                        Error! You have not answered all of the questions!
                        <button class="close" ng-click="error = false">&times</button>
                    </div>
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div ng-repeat=" q in t.questions">
                                        <div ng-repeat="ques in q.question">
                                            <div ng-if="question_index == $index">
                                                <div ng-if="ques.type === 'text'">
                                                    <h3 class="question"> &nbsp; {{$index + 1}})&nbsp; {{ques.title}}</h3>
                                                    <div class="col-sm-3" ng-repeat="op in ques.options">
                                                        <h4 class="answers" ng-if="ques.type === 'text'"
                                                            ng-class="{'bg-info': $index === ques.selected}"
                                                            ng-click="selectAnswer($index)">
                                                            {{ op.option }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div ng-if="ques.type === 'image'">
                                                    <h3 class="image-question"> &nbsp; {{$index + 1}})&nbsp; <img ng-src="{{ques.title}}"></h3>
                                                    <div class="col-sm-3" ng-repeat="op in ques.options">
                                                        <h4 class="image-answers"
                                                            ng-click="selectAnswer($index)"
                                                            ng-class="{'bg-info': $index === ques.selected}">
                                                            <img ng-src="{{op.option}}" >
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="continue == false">
                            <div class="btn btn-warning next-button" ng-click="next()">
                                Continue
                            </div>
                        </div>
                        <div ng-show="continue == true">
                            <div class="btn btn-info next-button" ng-click="finaliseAnswers()">
                                Finish
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="resultsView">
                <div ng-hide="t.name == 'Careers Test'">
                    <div ng-show="resultsView">
                        <div class="row">
                            <span ng-show="pass"><h1>Congrats you passed!!</h1></span>
                            <span ng-hide="pass"><h1>Unfortunately you didn't pass. Why not try again!</h1></span>
                            <h3>You got {{numCorrectAnswers}} out of {{length}} questions Correct</h3>
                            <h3>Percentage: {{percentage}}%</h3>
                            <div class="col-xs-8">
                                <h4>Progress:</h4>
                                <div ng-repeat="q in t.questions">
                                    <div class="btn-toolbar">
                                        <button class="btn"
                                                ng-repeat="qs in q.question"
                                                ng-class="{'btn-success': qs.correct , 'btn-danger': !qs.correct}"
                                                ng-click="setResultsActiveQuestion($index)">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <h4>Legend:</h4>
                                    <div class="col-sm-4">
                                        <button class="btn btn-success">
                                        </button>
                                        <p>Correct</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-danger">
                                        </button>
                                        <p>Incorrect</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div ng-repeat=" q in t.questions">
                                                <div ng-repeat="ques in q.question">
                                                    <div ng-if="resultsActiveQuestion == $index">
                                                        <div ng-if="ques.type === 'image'">
                                                            <h3 class="image-question"> &nbsp; {{$index + 1}})&nbsp;
                                                                <img ng-src="{{ques.title}}">
                                                            </h3>
                                                            <div class="col-sm-3" ng-repeat="op in ques.options">
                                                                <h4 class="image-answers"
                                                                    ng-class="correctAnswer($index)">
                                                                    <img ng-src="{{op.option}}" >
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div ng-if="ques.type === 'text'">
                                                            <h3 class="question"> &nbsp; {{$index + 1}})&nbsp;
                                                                {{ques.title}}
                                                            </h3>
                                                            <div class="col-sm-3" ng-repeat="op in ques.options">
                                                                <h4 class="answers"
                                                                    ng-class="correctAnswer($index)">
                                                                    {{op.option}}
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="user.firstName == null">
                                    <div class="btn btn-primary" ng-click="createResult()">Save Results!</div>
                                    <div class="btn btn-warning" ng-click="finish()">Don't Save and Return</div>
                                </div>
                                <div ng-show="user.firstName == null">
                                    <div class="btn btn-warning" ng-click="finish()">Return</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">{{testName}} Averages</h2>
                    <canvas id="line" class="chart chart-bar" chart-data="bardata"
                            chart-labels="barlabels" chart-series="series" chart-options="options"
                          >
                    </canvas>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">{{testName}} Scores</h2>
                    <canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="ddata" chart-labels="dlabels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <a ng-hide="resultsView" href="/#/app/testMenu" class="btn btn-default">Back</a>
</div>